#bodyStyle{
    background-image: url("../images/silverware.jpg");
    background-attachment: fixed;
}

.divisionTitleStyle {
    background-color: antiquewhite;
}

h1#titleStyle{
    color: rgb(226, 238, 58);
    text-decoration: underline;
    margin: auto;
    width: fit-content;
   
    margin-bottom: 30px;
}

.userend{
    background-color: rgba(245, 241, 10, 0.24);
}

.linkStyle{
    color: rgb(221, 221, 13);
}

.abbribiationStyle{
    text-decoration: underline;
}

div.endpart{
    float: right;
   
    margin-top: 20px;
    
  }