h1 {
    color: black;
}

body {
    background-color: lightcyan;
}

p#introText {
    color: rgb(255, 145, 0);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif, Times, serif,Arial, Arial Black, Verdana;
    line-height:1em ;
  }

span.highlightedText {
    color: red;
}

h3.sectionTitle {
    color: blue;
}

ul#circularList {
    list-style: circle;
}

ul#numaricList {
    list-style: decimal;
}

a.bodyLinkStyle {
    text-decoration: none;
    color: orangered;
}



.child {
    width: 50%;
    float: left;

    /* border: 2px solid red; */
}